.jackbox-talks .Lobby button.characters.Wooden.Mannequin .flex-item {
    background-image: url(assets/0a93ff62.png)
}

.jackbox-talks .Lobby button.characters.Deer.in.Turtleneck .flex-item {
    background-image: url(assets/92091db3.png)
}

.jackbox-talks .Lobby button.characters.Ancient.Statue .flex-item {
    background-image: url(assets/2ff55bfe.png)
}

.jackbox-talks .Lobby button.characters.Astronaut .flex-item {
    background-image: url(assets/14eba25c.png)
}

.jackbox-talks .Lobby button.characters.Lobster.in.Bowtie .flex-item {
    background-image: url(assets/f7a1579e.png)
}

.jackbox-talks .Lobby button.characters.Inflatable.Dancing.Man .flex-item {
    background-image: url(assets/9ce94331.png)
}

.jackbox-talks .Lobby button.characters.Robot.in.Suit .flex-item {
    background-image: url(assets/cf7a7b9e.png)
}

.jackbox-talks .Lobby button.characters.Sock.Puppet .flex-item {
    background-image: url(assets/47d42c73.png)
}

.jackbox-talks .Lobby button.characters.Skeleton .flex-item {
    background-image: url(assets/2b2eb926.png)
}

.jackbox-talks .Lobby button.characters.Balloon.Animal.Dog .flex-item {
    background-image: url(assets/4531091a.png)
}

.jackbox-talks .Lobby button.characters.Suit.of.Armor .flex-item {
    background-image: url(assets/1959b72b.png)
}

.jackbox-talks .Lobby button.characters.Clown.Figurine .flex-item {
    background-image: url(assets/7894253b.png)
}

.jackbox-talks .Lobby button.characters.Dog.in.Pink.Scarf .flex-item {
    background-image: url(assets/acb6acab.png)
}












.jackbox-talks .Lobby.Hands button.characters.Wooden.Mannequin .flex-item {
    background-image: url(assets/258cb137.png)
}

.jackbox-talks .Lobby.Hands button.characters.Deer.in.Turtleneck .flex-item {
    background-image: url(assets/803a85ad.png)
}

.jackbox-talks .Lobby.Hands button.characters.Ancient.Statue .flex-item {
    background-image: url(assets/025d88f0.png)
}

.jackbox-talks .Lobby.Hands button.characters.Astronaut .flex-item {
    background-image: url(assets/3f50e96b.png)
}

.jackbox-talks .Lobby.Hands button.characters.Lobster.in.Bowtie .flex-item {
    background-image: url(assets/1a77e35b.png)
}

.jackbox-talks .Lobby.Hands button.characters.Inflatable.Dancing.Man .flex-item {
    background-image: url(assets/8ec37824.png)
}

.jackbox-talks .Lobby.Hands button.characters.Robot.in.Suit .flex-item {
    background-image: url(assets/4477271e.png)
}

.jackbox-talks .Lobby.Hands button.characters.Sock.Puppet .flex-item {
    background-image: url(assets/d2bf3882.png)
}

.jackbox-talks .Lobby.Hands button.characters.Skeleton .flex-item {
    background-image: url(assets/c5c975ac.png)
}

.jackbox-talks .Lobby.Hands button.characters.Balloon.Animal.Dog .flex-item {
    background-image: url(assets/afb1a548.png)
}

.jackbox-talks .Lobby.Hands button.characters.Suit.of.Armor .flex-item {
    background-image: url(assets/dbd85cbb.png)
}

.jackbox-talks .Lobby.Hands button.characters.Clown.Figurine .flex-item {
    background-image: url(assets/53644855.png)
}

.jackbox-talks .Lobby.Hands button.characters.Dog.in.Pink.Scarf .flex-item {
    background-image: url(assets/5b72e3b9.png)
}